/vendor
/node_modules
/.idea
/.vscode
/.fleet
/.phpunit.cache
/.phpactor.json
/.phpactor.json.lock
/.DS_Store
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/storage/*.key
/storage/logs/*.log
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/database/*.sqlite
/database/*.sqlite-journal
/bootstrap/cache/*.php
/public/storage
